{% extends 'Base/base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="about-title">About US</h1>
            <p>
                The E-Organ-Donor is within the Department of Health and Human Services, Health
                Resources and Services Administration's Healthcare Systems Bureau (HSB). EOD is the primary federal
                entity
                responsible for oversight of the nation’s organ and blood stem cell transplant systems and for
                initiatives
                to increase organ and blood stem cell donations in the United States.
            </p>

            <h1>Who Are We?</h1>
            <p>
                We provide a blood and transplantation service to the NHS, looking after blood donation services in
                Bangalore and transplant services across the India. This includes managing the donation, storage and
                transplantation of blood, organs, tissues, bone marrow and stem cells, and researching new treatments
                and processes.
            </p>
        </div>
    </div>
{% endblock %}